<!doctype html>
<title>Skyderby - Track segmenter</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class=page>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Model test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/model/overview">Model overview</a>
      </li>
    </ul>
  </nav>
  {% block body %}{% endblock %}
</div>
